# Test artifacts
coverage.out
coverage.html
*.test

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binary built by Go or Air
/tmp
*.out

# Output of the go coverage tool
*.coverprofile

# Dependency directories
vendor/

# Go workspace file
go.work

# MacOS files
.DS_Store
