{{ define "content" }}
<section class="posts">
    <h2>Writings</h2>
    
    <div class="posts-list">
        {{ if .Posts }}
            {{ range .Posts }}
            <article class="post-summary">
                <a class="post-meta" href="/post/{{ .Slug }}">
                    <p>{{ .Title }}</p>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <time datetime="{{ .PublishDate.Format "2006-01-02" }}">
                        [{{ .PublishDate.Format "2006-01-02" }}]
                    </time>
                </a>
            </article>
            {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
